$bodyFontsize: 1rem;//16px

$headingFontfamily: 'DM Serif Display', serif;
$bodyFontfamily: 'Karla', sans-serif;

$fontfamily: ("headingFF": $headingFontfamily, "bodyFF": $bodyFontfamily);
$fontweight: ("regWeight": 400, "boldWeight": 700);